name: mvp_app
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  webview_flutter: ^4.11.0
  webview_flutter_android: ^4.10.11

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/background.webp
    - assets/live2d/hiyori_viewer.html
    - assets/live2d/libs/
    - assets/live2d/hiyori/
    - assets/live2d/hiyori/Hiyori.2048/
